@model MovieSearch

@{
    ViewData["Title"] = "Search Movies";
}

<div class="text-center">
    <h1 class="display-4">Search Movies</h1>

    <br /><br /><br />
    <p>Error - There was an issue.</p>
</div>
